body {
    background: #5c88d6;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 20px;
}

section {
    background: white;
    color: black;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    text-align: left;
}

section div {
    margin-bottom: 10px;
}

footer {
    margin-top: 30px;
}